{
  "extends": [
    "react-app",
    "prettier/react",
    "prettier/prettier",
    "prettier/babel",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true
  }
}
